<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<style>
      tr,td{
          padding: 10px;
           }
</style> 
<title>Admin Blog</title>
</head>
<body>
<div ng-controller="myBlog">
<table class="table">
<thead>
<tr>
<th>BlogName</th>
<th>Description</th>
<th>Approval</th>
<th>Operation</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="blog in blogWaitingForApproval">
<td>{{blog.blogName}}</td>
<td>{{blog.description}}</td>
<td><label><input type="radio" class="radio" ng-model="blog.approved" value="true">Approve</label><br>
<br><label><input type="radio" class="radio" ng-model="blog.approved" value="false">Reject</label></td>
<td align="justify"><a href="" ng-click=updateblog() class="button">Ok</a>
</tr>
</tbody>
</table>
<br>
<br>
<a href="#/getallblogs" class="button">BACK</a>
</div>
</body>
</html>