<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<style>
      tr,td{
          padding: 10px;
           }
</style> 
<title></title>
</head>
<body>
<div align="center">
<div>
<form>
<table>
<thead>
<tr>
<td><h1>Add Blog</h1></td>
</tr>
</thead>
<tbody>
<tr>
<td><label>Blog Name</label></td>
<td><label>:</label></td>
<td><input class="form-control" type="text" placeholder="Enter blog Name" ng-model="blog.blogName"></td>
</tr>
<br>
<tr>
<td><label>Description</label></td>
<td><label>:</label></td>
<td><textarea rows="10" class="form-control" placeholder="Enter the Details" ng-model="blog.description"></textarea></td>
</tr>
<br>
<br>
<br>
<tr>
<td><button class="button btn btn-lg btn-primary btn-block" type="submit" ng-click="addblog()">ADD</button></td>
</tr>
</tbody>
</table>
</form>
</div>
</div>
</body>
</html>