<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
<div>
<table>
<thead>
<tr>
<th>Title</th>
<th>Posted On</th>
<th>Skills Required</th>
</tr>
</thead>
<tr ng-repeat="job in job | filter : searchText | filter : searchText.jobProfile|filter : searchText.qualification">
<td><a href="" ng-click="getJobDetails(job.jobId)" id="ntext">{{job.jobProfile}}</a></td>
<td>{{job.postedDate | date : 'MM/dd/yyyy'}}</td>
<td>{{job.qualification}}</td>
</tr>
</tbody>
</table>
</div>

<div ng-show="showJobDetails">
<div align="center">
<table>
<thead>
<tr>
<td>Job Details</td>
</tr>
</thead>
<tbody>
<tr>
<td><label>Job Title</label></td>
<td><label>:</label></td>
<td>{{ job.jobProfile }}</td>
</tr>
<tr>
<td><label>Description</label></td>
<td><label>:</label></td>
<td>{{ job.jobDesc }}</td>
</tr>
<tr>
<td><label>Skills Required</label></td>
<td><label>:</label></td>
<td>{{ job.qualification }}</td>
</tr>
<tr>
<td><label>YrsOfExp</label></td>
<td><label>:</label></td>
<td>{{ job.yrsOfExp }}</td>
</tr>
<tr>
<td><label>Salary</label></td>
<td><label>:</label></td>
<td>{{ job.salary }}</td>
</tr>
<tr>
<td><label>Posted On</label></td>
<td><label>:</label></td>
<td>{{ job.postDate }}</td>
</tr>
<tr>
<td><label>CommpanyName</label></td>
<td><label>:</label></td>
<td>{{ job.companyname }}</td>
</tr>
<tr>
<td><label>Location</label></td>
<td><label>:</label></td>
<td>{{ job.companyname }}</td>
</tr>
</tbody>
</table>
</div>
</div>
</body>
</html>