<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<style>
      tr,td{
          padding: 10px;
           }
</style> 
<title>Insert title here</title>
</head>
<body>
<div align="center">
<div ng-controller="myUser">
<form>
<table>
<thead>
<tr>
<td><h1>Login</h1></td>
</tr>
</thead>
<tbody>
<tr>
<td><label>UserName</label></td>
<td><label>:</label></td>
<td><input type="text" id="inputUsername" class="form-control" placeholder="Enter Username" ng-model="user.username" autofocus></td>
</tr>
<tr>
<td><label>Password</label></td>
<td><label>:</label></td>
<td><input type="password" id="inputPassword" class="form-control" placeholder="Enter Password" ng-model="user.password" autofocus></td>
</tr>
<tr>
<td><button class="button btn btn-lg btn-primary btn-block" type="submit" ng-click="validateUser()">Sign in</button></td>
</tr>
</tbody>
</table>
</form>
</div>
</div>
</body>
</html>