<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<style>
      tr,td{
          padding: 10px;
           }
</style> 
<title></title>
</head>
<body>
<div align="center">
<div ng-controller="myUser">
<form>
<table>
<thead>
<tr>
<td><h1>Update User</h1></td>
</tr>
</thead>
<tbody>
<tr>
<td><label>First Name</label></td>
<td><label>:</label></td>
<td><input  class="form-control" ng-model="user.firstname" type="text" required></td>
</tr>
<tr>
<td><label>Last Name</label></td>
<td><label>:</label></td>
<td><input  class="form-control" ng-model="user.lastname" type="text" required></td>
</tr>
<tr>
<td><label>UserName</label></td>
<td><label>:</label></td>
<td><input  class="form-control" ng-model="user.username" type="text" disabled></td>
</tr>
<tr>
<td><label>Email</label></td>
<td><label>:</label></td>
<td><input  class="form-control" ng-model="user.email" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Eg:daisy@xxx.yyy required>"></td>
</tr>
<tr>
<td><label>Password</label></td>
<td><label>:</label></td>
<td><input  class="form-control" minlength="6" maxlength="16"  title="Six or more characters" ng-model="user.password" type="password" required></td>
</tr>
<tr>
<td><label>Contact</label></td>
<td><label>:</label></td>
<td><input  class="form-control" pattern="[789][0-9]{9}" title="Should be 10 digits starting from 7,8 or 9" ng-model="user.contact" type="text" required></td>
</tr>
<tr>
<td colspan="2" align="center"><input class="btn btn-primary" ng-click="updateUser()" type="Submit" /></td>
</tr>
</tbody>
</table>
</form>
</div>
</div>
</body>
</html>