<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<style>
      tr,td{
          padding: 10px;
           }
</style> 
<title>Admin Blog</title>
</head>
<body>
<div>
<table class="table">
<thead>
<tr>
<th>BlogName</th>
<th>Description</th>
<th>Approval</th>
<th>Operation</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="blogs in blog">
<td>{{blogs.blogName}}</td>
<td>{{blogs.description}}</td>
<td ng-show="blogs.approved=='true'">
<input type="submit" class="form-control" ng-click="approveblog(blogs.id)" value="Approve"/></td>
<td ng-show="blogs.approved=='false'">
<input type="submit" class="form-control" ng-click="rejectblog(blogs.id)" value="Reject"/>
</td>
</tr>
</tbody>
</table>
<br>
<br>
<a href="#/getallblogs" class="button">BACK</a>
</div>
</body>
</html>