<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
.content-box 
{
  font-size:17px; 
  line-height:26px; 
  padding : 15px;
  color : #000000;
  box-shadow: 0px 0px .5px 0px rgba(50, 50, 50, 0.95);
}
div
{
background-image : index.jpg
}
</style>
</head>
<body>
<div align="center">
<div "class-md-8">
  <div class="content-box">
    <h1>Blog</h1>
    <p>A Blog is a discussion or informational website published on the World wide web consisting of discrete, often informal diary-style text entries("post").Posts are typically displayed in reverse chronological order, so that the most recent post appears first, at the top of the web page.blogs were usually the work of a single individual, occasionally of a small group, and often covered a single subject or topic."multi-author blogs" (MABs) have developed, with posts written by large numbers of authors and sometimes professionally edited.The rise of Twitter and other "microblogging" systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or add content to a blog.
    Previously, a knowledge of such technologies as HTML and File Transfer Protocol had been required to publish content on the Web, and as such, early Web users tended to be hackers and computer enthusiasts.Many blogs provide commentary on a particular subject or topic, ranging from politics to sports.</p>
    <hr>
    <h1>Job</h1>
    <p>A job, or occupation, is a person's role in society. More specifically, a job is an activity, often regular and performed in exchange for payment ("for a living").Many people have multiple jobs (e.g., parent, homemaker, and employee). A person can begin a job by becoming an employee, volunteering, starting a business, or becoming a parent.The duration of a job may range from temporary (e.g., hourly odd jobs) to a lifetime (e.g., judges).An activity that requires a person's mental or physical effort is work (as in "a day's work").If a person is trained for a certain type of job, they may have a profession.Typically, a job would be a subset of someone's career. The two may differ in that one usually retires from their career, versus resignation or termination from a job.</p>
    <hr>
    <h1>Friend</h1>
    <p>Friends are used to send the request and accept the request and chat with them.</p>
    <br>
    <br>
    <br>
  </div>
</div>
</div>
</body>
</html>